{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Hello {{ app.user.username }}</h1>
    <div class="row">

        <div class="row">
        </div>
        <div class="row account">
            {# Partie gestion utilisateur donc ajout et update/suppression#}
            <div class="col-md-6" style="border-right: solid; text-align: center">
                <h2>Users management</h2>
                <div class="account">
                    <a href="{{ path('user_create') }}">
                        <button class="btn btn-secondary">Create new User</button>
                    </a>
                </div>
                {% for msg in app.flashes('user_success') %}
                    {{ msg }}
                {% endfor %}
                <div class="account">
                    <a href="{{ path('user_update') }}">
                        <button class="btn btn-secondary">Update some Users</button>
                    </a>
                </div>
            </div>

            {# Partie gestion voyage à remplir plus tard #}
            <div class="col-md-6" style="text-align: center">
                <h2>location management</h2>
                <a href="{{ path('location_new') }}">
                    <button class="btn btn-secondary">Create new Location</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

