{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h1>ok !</h1>

    {{ form_start(passwordForm) }}
        {{ form_row(passwordForm.email, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_row(passwordForm.password, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_row(passwordForm.plainPassword.first, {'attr' : {'class' : 'form-control'}}) }}
        {{ form_row(passwordForm.plainPassword.second, {'attr' : {'class' : 'form-control'}}) }}
        <br><input class="btn btn-secondary" type="submit" value="Send">
    {{ form_end(passwordForm) }}





    </div>
{% endblock %}