{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Log in!{% endblock %}

{% block body %}
    <div class="row">
        <div id="div_top_login" class="offset-md-4 col-md-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="row">
                    <div class="offset-md-3">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    </div>
                </div>
                <label>Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <div class="account">
                    <label>Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                    <br><a href="mailto:e.caniac@hotmail.com
                            ?subject=Forget password
                            &body= In order to change your password, please : %0D%0A  - Copy this link : http://127.0.0.1:8000/account/forgetPassword %0D%0A  - And this password : 1234">Forget password</a>
                </div>
                <div class="row account">
                    <div class="offset-md-4 col-md-4">
                        <button class="btn btn-md btn-secondary" type="submit">
                            Sign in
                        </button>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <br><a href= "{{ path('register') }}">Create new account</a>
                    </div>
                    <a  href="{{ path('test') }}">Forgotten password</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
