{% extends 'base.html.twig' %}

{% block title %}Trip{% endblock %}

{% block body %}
    <div class="row mb-4">
        <div class="col-12">
            <div id="card-caption" class="card">
                <img src="https://picsum.photos/1280/280?blur&id=400" alt="" class="img-fluid">
                <div class="heading">
                    <span class="heading-title">{{ trip.name }}</span>
                    <span class="heading-subtitle">{{ trip.hang }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div id="card-statusbar" class="card">
                <div class="left">
                    <i class="fas fa-heart"></i>
                    <span>{{ trip.getLove().count() }}</span>
                </div>
                <div class="right">
                    <span>Inscriptions ouvertes jusqu'au </span>
                    {{ trip.registrationEndDate ? trip.registrationEndDate|date('d/m/Y à H:i') : '' }}


                    {% if isParticipant == false %}
                        <a class="ml-4" href="{{ path('trip_register', {'id':trip.id}) }}" data-toggle="tooltip"
                           data-placement="top" title="Rejoignez l'aventure"><i
                                    class="fas fa-hiking"></i></a>
                    {% else %}
                        <a class="ml-4" href="{{ path('trip_register', {'id':trip.id}) }}" data-toggle="tooltip"
                           data-placement="top" title="Désertez l'aventure"><i
                                    class="fas fa-hiking"></i></a>
                    {% endif %}


                </div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="card-author-info" class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <span>Propulsé par</span>
                    <i class="fas fa-user"></i>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <img class="img-thumbnail" src="{{ asset('uploads/brochures/'~trip.author.image) }}" alt="">
                </div>

                <div class="card-footer d-flex flex-column text-center">
                    <div class="icon-field d-flex justify-content-center">
                        <i class="fas fa-user-circle mr-2"></i>
                        <span>{{ trip.author.username }}</span>
                    </div>

                    <div class="icon-field d-flex justify-content-center">
                        <i class="fas fa-envelope mr-2"></i>
                        <span>{{ trip.author.email }}</span>
                    </div>

                </div>

            </div>
            <div id="card-informations" class="card">
                <div class="card-header d-flex justify-content-between">
                    <span>Informations</span>
                    <i class="fas fa-question-circle"></i>
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex">
                        <i class="fas fa-calendar-alt mr-2"></i>
                        <span> Date de Départ {{ trip.beginDateTime|date('d/m/Y à H:i') }}</span>
                    </li>
                    <li class="list-group-item d-flex ">
                        <i class="fas fa-calendar-alt mr-2"></i>
                        <span> Date de Retour {{ trip.enddateTime|date('d/m/Y à H:i') }}</span>
                    </li>
                    <li class="list-group-item d-flex">
                        <i class="fas fa-users mr-2"></i>
                        <span> Participants {{ users.count() }} / {{ trip.maxRegistration }}</span>
                    </li>
                </ul>


            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    infos pratiques
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="icon-field d-flex align-items-center">
                            <i class="fas fa-user-circle mr-2"></i>
                            <span class="subject-title">Description</span>
                        </div>

                        <span class="subject-content">{{ trip.infos }}</span>
                    </li>
                    <li class="list-group-item">
                        <div class="icon-field d-flex align-items-center">
                            <i class="fas fa-cloud-sun mr-2"></i>
                            <span class="subject-title">Météo</span>
                        </div>
                        <span class="subject-content">{{ trip.weather }}</span>
                    </li>
                    <li class="list-group-item">
                        <div class="icon-field d-flex align-items-center">
                            <i class="fas fa-clock mr-2"></i>
                            <span class="subject-title">Heure Locale</span>
                        </div>
                        <span class="subject-content">{{ trip.timezone }}</span>
                    </li>
                    <li class="list-group-item">
                        <div class="icon-field d-flex align-items-center">
                            <i class="fas fa-toilet-paper-alt mr-2"></i>
                            <span class="subject-title">Administratif</span>
                        </div>
                        <span class="subject-content">{{ trip.administration }}</span>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <span>Participants</span>
                    <i class="fas fa-users"></i>
                </div>
                <div id="participant" class="card-body">
                    {% for user in users %}
                        <a href="{{ path ('others', {'id':user.id}) }}"><img class="img-thumbnail"
                                                                             width="64"
                                                                             height="64"
                                                                             src="{{ asset('uploads/brochures/'~user.image) }}"
                                                                             alt=""
                                                                             data-toggle="tooltip" data-placement="top"
                                                                             title="{{ user.username }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
